@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to insurance mangement system</h1>
    
</div>

<div class="ml-5">
    <img src="~/css/bg.jpg" style="height:500px;width:1000px;" />
</div>
