@{
    ViewData["Title"] = "insuarance plans page";

}
<div class="text-center">
    <h1 class="display-6">Insuarance Plans</h1>

</div>

<div class="card-columns" >
    <div class="card" style="height:20rem;">
        <div class="card-body text-center">
            <p class="card-text text-center">Health</p>
            <p class="card-text text-center"  style="font-weight:bold;color:brown">PKR 200,000</p>
            <p class="card-text text-center">Sum Assured</p>
            <p class="card-text text-center" style="font-weight:bold;color:brown">PKR 1,000</p>
            <p class="card-text text-center">Premium/Year</p>
            <button type="button" class="btn btn-primary">Enroll In Plan</button>
            @*<div class="dropdown m-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>*@
        </div>
    </div>
    <div class="card" style="height:20rem;">
        <div class="card-body text-center">
            <p class="card-text text-center">Accidental Hospitalization</p>
            <p class="card-text text-center"  style="font-weight: bold; color: brown">PKR 100,000</p>
            <p class="card-text text-center">Sum Assured</p>
            <p class="card-text text-center"  style="font-weight: bold; color: brown">PKR 800</p>
            <p class="card-text text-center">Premium/Year</p>
            <button type="button" class="btn btn-primary">Enroll In Plan</button>
        </div>
    </div>
    <div class="card" style="height:20rem;">
        <div class="card-body text-center">
            <p class="card-text text-center">Natural Death</p>
            <p class="card-text text-center"  style="font-weight: bold; color: brown">PKR 1,000,000</p>
            <p class="card-text text-center">Sum Assured</p>
            <p class="card-text text-center"  style="font-weight: bold; color: brown">PKR 1,500</p>
            <p class="card-text text-center">Premium/Year</p>
            <button type="button" class="btn btn-primary">Enroll In Plan</button>
        </div>
    </div>
    <div class="card" style="height:20rem;">
        <div class="card-body text-center">
            <p class="card-text text-center">Health</p>
            <p class="card-text text-center" style="font-weight: bold; color: brown">PKR 200,000</p>
            <p class="card-text text-center">Sum Assured</p>
            <p class="card-text text-center"  style="font-weight: bold; color: brown">PKR 1,000</p>
            <p class="card-text text-center">Premium/Year</p>
            <button type="button" class="btn btn-primary">Enroll In Plan</button>
        </div>
    </div>
    <div class="card" style="height:20rem;">
        <div class="card-body text-center">
            <p class="card-text text-center">Health</p>
            <p class="card-text text-center" style="font-weight: bold; color: brown">PKR 200,000</p>
            <p class="card-text text-center" >Sum Assured</p>
            <p class="card-text text-center"  style="font-weight: bold; color: brown">PKR 1,000</p>
            <p class="card-text text-center">Premium/Year</p>
            <button type="button" class="btn btn-primary">Enroll In Plan</button>
        </div>
    </div>
    <div class="card" style="height:20rem;">
        <div class="card-body text-center">
            <p class="card-text text-center">Natural Death</p>
            <p class="card-text text-center"  style="font-weight: bold; color: brown">PKR 1,000,000</p>
            <p class="card-text text-center">Sum Assured</p>
            <p class="card-text text-center"  style="font-weight: bold; color: brown">PKR 1,500</p>
            <p class="card-text text-center">Premium/Year</p>
            <button type="button" class="btn btn-primary">Enroll In Plan</button>
        </div>
    </div>
</div>